<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394641993263-84tree10asc01anqldkhog14sbqq1k7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394641993263-84tree10asc01anqldkhog14sbqq1k7b</string>
	<key>API_KEY</key>
	<string>AIzaSyBYFyWVQr0RxZkNFIf-lphRj9hw5rkYJ0M</string>
	<key>GCM_SENDER_ID</key>
	<string>394641993263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scp360</string>
	<key>PROJECT_ID</key>
	<string>scp360-37a74</string>
	<key>STORAGE_BUCKET</key>
	<string>scp360-37a74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394641993263:ios:5208e1caf7f30d3c4b20da</string>
</dict>
</plist>